body{
  background-color: #16141a;
}

section{
  height: 100vh;

}
.first, .second{
  background-color: #16141a;
  a:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;

  }
  a{
    color: white;
  }
}



.second, .first{
  text-align: center;
  align-items: center;
    color: white;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 25%;

}
.fuck-finger{
  img{
    width: 1000px;
    height: 1000px;

  }
  text-align: center;

  margin-top: 200px;


}
.fuck-finger-ops{
  background-color: #16141a;



}
@media (max-width: (282px)) {
  .fuck-finger{
    img{
      text-align: center;
      margin-top: 5px;
      width: 150px;
      height: 150px;

    }

  }

}
