body{
  background-color: #16141a;
}

section{
  height: 100vh;

}
.first, .second{
  margin-top: 50px;
  background-color: #16141a;
  a:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;

  }
  a{
    color: white;

  }
}



.second, .first{
  text-align: center;
  align-items: center;
    color: white;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 15%;

}

.fuck-finger-ops{
  background-color: #16141a;
  margin-top: 10%;




}
@media (max-width: (282px)) {
  .fuck-finger{
    img{
      text-align: center;
      width: 150px;
      height: 150px;
      margin-top: 20%;

    }

  }

}


//link button

.section{
  height: 100vh;
  background-color: #2E4053;
  display: flex;
  justify-content: center;
  align-items: center;


}
.menu-btn{
  display: block;
  width: 50px;
  height: 50px;
  background-color:#D5D8DC ;
  border-radius: 50%;
  position: relative;
  z-index: 4;




}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -0.5px;
  left: 50%; margin-left: -10px;
  width: 20px;
  height: 1px;
  background-color: black;

}
.menu-btn span::before,
.menu-btn span::after{
  content: "";
  display: block;
  transition: 0.10s;

}
.menu-btn span{
  height: 0;
}
.menu-btn span::before{
  transform:  rotate(60deg) translateY(-5px);

}
.menu-btn_active span{
  height: 0;
}
.menu-btn span::after{
  transform:  rotate(120deg)translateY(5px);
}
.menu-btn_active span::before {
  transform:rotate( 40deg);

}
.menu-btn_active span::after{
  transform: rotate(-40deg);
}
.menu-block{
  position: relative;
  text-align: center;
  }
