body{
  background-color: #16141a;
}

section{
  height: 100vh;

}
.first, .second{
  background-color: #16141a;
  a:hover{
    cursor: pointer;
    text-decoration: none;
    color: white;

  }
  a{
    color: white;
  }
}



.second, .first{
  text-align: center;
  align-items: center;
    color: white;
    font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    padding-top: 25%;

}
.fuck-finger{
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: 200px;


}
.fuck-finger-ops{
  background-color: #16141a;



}
