body {
  background-color: #16141a;
}
section {
  height: 100vh;
}
.first,
.second {
  background-color: #16141a;
}
.first a:hover,
.second a:hover {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.first a,
.second a {
  color: white;
}
.second,
.first {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 5rem;
  font-family: 'Poppins', sans-serif;
  padding-top: 25%;
}
.fuck-finger {
  width: 500px;
  height: 500px;
  text-align: center;
}
.fuck-finger-ops {
  background-color: #16141a;
}
.fuck-finger-ops .finger {
  -webkit-transform: translateX(450px) translateY(150px);
          transform: translateX(450px) translateY(150px);
}
